<template>
  <div class="home">
    <h1 class="headline center">Blog</h1>

    <div class="sections">
      <div v-for="(section, index) in Object.keys(entries).reverse()" :key="index" class="group">
        <h2 class="center">{{section}}</h2>
        <div class="section" v-for="entry in entries[section]" :key="entry.id">
          <div class="entry">
            <h3 @click="$router.push({name: entry.id})">
              {{entry.title}}
              <span class="subtitle">von {{entry.author}} - {{entry.date}}</span>
            </h3>
            <p>{{entry.description}} ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import blogentries from '../data/blogs.json'

export default {
  name: 'blog',
  computed: {
    entries() {

      return blogentries
    }
  }
}
</script>
<style lang="scss" scoped>

.center {
  text-align: center;
}

.headline {
  text-transform: uppercase;
  margin: 4rem auto;
  font-size: 4rem;
}

h2 {
  color: #35495e;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

h3 {
  color: #42b883;
  margin-bottom: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .subtitle {
    color: grey;
    padding-top: 5px;
    font-size: .8rem;
    float: right;
    font-weight: normal;
  }
}

p {
  margin-top: .4rem;
}

.sections {
  max-width: 40vw;
  margin: 0 auto;
  margin-top: 4rem;
}

.section {
  margin-bottom: 3rem;
}

.group {
  margin-bottom: 4rem;
}

</style>