<template>
  <footer class="footer">
    <div class="container">
      <div class="columns has-text-centered-mobile">
        <div class="column is-4">
          <img src="../assets/img/cfhh-logo.png" srcset="../assets/img/cfhh-logo@2x.png 320w, ../assets/img/cfhh-logo@3x.png 1024w"
              title="Code for Hamburg Lab" width="70" />
          <p class="has-text-grey">
              Das Code for Hamburg Lab (e.V.) ist ein ehrenamtliches, gemeinnütziges und offenes Stadtlabor 
              um Digitalität anfassbar und erfahrbar zu machen. Mit Werkzeugen wie "Open Source" Programmen 
              und Quellcodes und "Open Data", im Wesentlichen offenen Verwaltungs-Daten machen wir Experimente 
              und bauen Apps.
          </p>
        </div>
        <div class="column is-2">
          <h5 class="title is-5 has-text-white">Über uns</h5>
          <ul class="ls-footer-links">
            <li><router-link to="/team" class="ls-bottom-link">Team</router-link></li>
            <li><router-link to="/satzung" class="ls-bottom-link">Satzung</router-link></li>
              <!--<li><router-link to="/verein" class="ls-bottom-link">Verein</router-link></li>
              <li><a href="https://dev.codefor.de/grundsaetze/">Grundsätze</a></li>-->
          </ul>
        </div>
        <div class="column is-2">
          <h5 class="title is-5 has-text-white">Nützliches</h5>
          <ul class="ls-footer-links">
            <li><a href="https://gitlab.com/codeforhamburg">Gitlab</a></li>
            <li><a href="https://pad.okfn.de/p/hamburg">Etherpad</a></li>
            <li><a href="https://openknowledgegermany.slack.com">OKF DE Slack</a></li>
            <li><a href="https://transparenz.hamburg.de">Transparenz-Portal</a></li>
          </ul>
        </div>
      </div>
      <div class="columns ls-footer">
        <div class="column is-4 is-marginless has-text-centered-mobile content has-text-grey">
          <p>Code for Hamburg e.V.</p>
        </div>
        <div class="column is-4 is-marginless has-text-centered-mobile content linkgroup">
          <a href="https://twitter.com/codeforhamburg" target="_blank">Twitter</a>
          <a href="https://www.instagram.com/codeforhamburg/" target="_blank">Instagram</a>
          <a href="https://github.com/codeforhamburg" target="_blank">GitHub</a>
          <a href="https://gitlab.com/codeforhamburg" target="_blank">GitLab</a>
        </div>
        <div class="column is-4">
          <ul class="columns ls-bottom-links is-mobile is-multiline is-marginless">
            <router-link to="/impressum" class="ls-bottom-link has-text-white">Impressum</router-link>
            <router-link to="/impressum#datenschutz" class="ls-bottom-link has-text-white">Datenschutzerklärung</router-link>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
    }
  }
}
</script>

<style lang='scss' scoped>
  .linkgroup {
    a {
      font-size: 1.25rem;
      font-weight: bold;
      color: white;
      margin: 0 5px 0 5px;
    }
  }
</style>
