<template>
  <div>

    <section class="section ls-cards-grid">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="ls-section-content has-text-centered">
              <h3 class="title has-text-dark">das sind wir</h3>
              <p class="content has-text-grey is-size-5">
                Bei Code for Hamburg schmieden wir Projekte, haben viel zu viele Ideen und basteln Prototypen. 
                Dazu lieben wir es Veranstaltungen zu organisieren, zu finden unter:
                <a href="https://meetup.com/codeforhamburg">meetup.com/codeforhamburg</a>                
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-multiline is-mobile">
          <div v-for="(member, team) in team" :key="team" class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
            <article class="card ls-card">
              <div class="card-image">
                <figure class="image">
                  <img :src="member.img" :title="member.name" width="360" height="217" />
                </figure>
                <div class="buttons has-text-white" style="font-weight: bolder; font-size: larger">                
                  {{member.name}}
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  {{member.name}}
                  <p>
                    {{member.designation}}
                  </p>
                  <p>
                    {{member.description}}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>

export default {
  data (){
    return {
      team:[
        {name: "Christian Wittig", designation: "Lab Lead | Öffentliche Verwaltung", description: 'Als ehemaliger Beamter mischt Christian jetzt bei Code for Hamburg mit.', img: require("../assets/img/wir/Christian.png")},
        {name: "Solveig Schröder", designation: "Lab Lead", description: '', img: require("../assets/img/wir/Solveig.png")},
        {name: "Philipp Geisler", designation: "", description: 'Organisiert Hackathons wie z.B. Coding Da Vinci Nord', img: require("../assets/img/wir/Philipp.png")},
        {name: "Timo Lundelius", designation: "Lab Lead | We-Build.City", description: 'Seit 2014 Code for Hamburg Lab Lead sowie Gründer der digitalen Stadtentwicklungs- und Beteiligungsplattform We-Build.City.', img: require("../assets/img/wir/Timo.png")},
        {name: "Feena Fensky", designation: "Organisationstalent", description: 'Ist bei Code for Hamburg insbesondere im Feinstaub-Projekt aktiv', img: require("../assets/img/wir/Feena.png")},
        {name: "Julia Thomaschki", designation: "Projekt- und Communitymanagement", description: 'Hat den Community Summit und das FORUM Offene Stadt 2019 mitorganisiert', img: require("../assets/img/wir/Julia.png")},
        {name: "Ole Röntgen", designation: "Wissenschaftler", description: '', img: require("../assets/img/wir/Ole.png")},
        {name: "Paula Mittrowann", designation: "Designerin", description: '', img: require("../assets/img/wir/Paula.png")},
        {name: "Bastian Clausdorff", designation: "iOS Developer", description: 'Bastian baut im Lab am liebsten sensordatengespeiste Karten.', img: require("../assets/img/wir/Bastian.png")},
        {name: "Karoline Habt", designation: "Projektmanagement", description: 'Hat das FORUM Offene Stadt 2018 mitorganisiert und ist neben Code for Hamburg auch gern beim Cradle to Cradle e.V. aktiv.', img: require("../assets/img/wir/Karo.png")},
        {name: "Christopher Bohlens", designation: "Allrounder", description: '', img: require("../assets/img/wir/Christopher.png")}
        ],
      }
   }

}
</script>

<style lang="scss">
  @import "@/assets/_variables.scss";
</style>
